.advantage-item {
  @include display-flex(start, start, left, row);
  margin: 0;
  padding: 0;
  height: calc(416 / 3);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    @include display-flex(center, center, center, column);
    padding: 55px 30px;
    height: 100%;
    min-height: 331px;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 45px 48px;
  }
}

.advantage-item__icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    width: 76px;
    height: 76px;
    margin-top: 1px;
  }

  &--souvenirs {
    @media (min-width: $tablet-width) {
      width: 75px;
      height: 75px;
      margin-top: 10px;
      margin-left: 5px;
      margin-bottom: 2px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 15px;
    }
  }
}

.advantage-item__title {
  margin: 8px 0 16px;
}

.advantage-item__text {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
  }
}
