.advantages {
  width: 100%;
}

.advantages__header {
  margin: 18px;
  position: relative;
}

.advantages__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  margin: 0;
  padding: 0;

  &--xl {
    @media (min-width: $tablet-width) {
      grid-column: span 3;
    }
  }
}
