.search {
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
}

.search__wrapper {
  @include display-flex(center, center, center, column);
  margin: 0 auto;
  padding: 38px 18px 49px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 371px 66px;
  }
}

.search__title {
  margin-top: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;
    font-size: 30px;
  }
}

.search__text {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.search__button {
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
  font-size: 21px;
}

.search__map-wrapper {
  width: 100%;
  height: 350px;
  position: relative;
  box-sizing: border-box;
}

.search__map {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.search__map-marker {
  width: 27px;
  height: 27px;
  position: absolute;
  background: url("../../../img/icons/map-marker.svg") center center no-repeat;
  top: 50%;
  left: 50%;
  margin-top: calc(27px / -2);
  margin-left: calc(27px / -2);

  @media (min-width: $tablet-width) {
    top: 164px;
    margin-top: 0;
  }
}
