.search {
  width: 100%;
  box-sizing: border-box;
}

.search__wrapper {
  @include display-flex(center, center, center, column);
  margin: 0 auto;
  padding: 38px 18px 49px;

  @media (min-width: $tablet-width) {
    padding: 60px 155px 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 371px 66px;
  }
}

.search__title {
  margin-top: 0;
}

.search__text {
  margin-bottom: 32px;
}

.search__button {
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
}

.search__map {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
