.button {
  @include link-reset;
  width: 284px;
  height: 58px;
  display: flex;
  background-color: $grey-blue;
  color: $white;
  text-transform: uppercase;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  justify-content: center;
  align-items: center;
}

