.intro {
  @include display-flex(center, center, center, row);
  margin: 0;
  padding: 0;
  margin-top: 56px;
  width: 100%;
  height: 158px;
  overflow: hidden;
  background: url("../../img/catalog/mobile/back-desktop.jpg") center -56px no-repeat;
  position: relative;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/catalog/mobile/back-desktop@2x.jpg");
    background-size: 1200px auto;
  }

  @media (min-width: $tablet-width) {
    background: url("../../img/catalog/desktop/back-desktop.jpg") no-repeat;
    background-position: center -228px;
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    background-position: 0 -217px;
    min-height: 300px;
  }

  &--main {
    margin-top: 56px;
    min-height: 389px;
    background: url("../../img/index/mobile/back-mobile.jpg") center 0 no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/index/mobile/back-mobile@2x.jpg");
      background-size: 901px auto;
    }

    @media (min-width: $tablet-width) {
      min-height: 518px;
      background: url("../../img/index/desktop/back-desktop.jpg") center 0 no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index/desktop/back-desktop@2x.jpg");
        background-size: 1200px auto;
      }
    }
  }

  &::after {
    content: "";
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 57px;
    mask: url("../../img/icons/sprite.svg#intro-triangle") center center no-repeat;
    background-color: $white;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    bottom: 0;
  }
}

.intro__icon {
  margin: 52px auto 64px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 457px;
    margin-top: 46px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto 18px;
    width: 460px;
  }

  &--main {
    margin-top: 90px;
    margin-bottom: 85px;

    @media (min-width: $tablet-width) {
      margin-left: 9.5em;
      margin-top: 77px;
      margin-bottom: 91px;
      min-width: 461px;
      height: auto;
    }

    @media (min-width: $desktop-width) {
      margin: 77px auto 90px;
    }
  }
}
