.intro {
  margin: 0;
  padding: 0;
  margin-top: 56px;
  width: 100%;
  min-height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/catalog/desktop/back-desktop.jpg") -400px -145px no-repeat;
  position: relative;

  @media (min-width: $tablet-width) {
    background: url("../../img/catalog/desktop/back-desktop.jpg") center 0 no-repeat;
    min-height: 290px;
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
  }

  &--main {
    margin-top: 56px;
    min-height: 389px;
    background: url("../../img/index/desktop/back-desktop.jpg") center -35px no-repeat;

    @media (min-width: $tablet-width) {
      min-height: 518px;
      background: url("../../img/index/desktop/back-desktop.jpg") center 0 no-repeat;
    }
  }

  &::after {
    content: "";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 57px;
    background: url("../../img/icons/intro-triangle.svg") center center no-repeat;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

.intro__icon {
  margin: 52px auto 67px;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 457px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }

  &--main {
    margin-top: 90px;
    margin-bottom: 85px;

    @media (min-width: $tablet-width) {
      margin-top: 77px;
      margin-bottom: 91px;
      min-width: 461px;
      height: auto;
    }
  }
}
