.intro {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 158px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../img/index/desktop/back-desktop.jpg") center center no-repeat;
  position: relative;

  &--main {
    height: 389px;

    @media (min-width: $tablet-width) {
      height: 518px;
    }
  }

  &::after {
    content: "";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 57px;
    background: url("../../img/icons/intro-triangle.svg") center center no-repeat;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
}

.intro__icon {
  margin: 0;
  padding: 0;

  &--main {
    @media (min-width: $tablet-width) {
      width: 461px;
      height: auto;
    }
  }
}
