.photos {
  width: 100%;
}

.photos__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 60px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}
