.photos-header {
  @include display-flex(center, space-between, center, column);
  width: 100%;
  padding: 37px 20px 25px;
  min-height: 188px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 66px 155px 67px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 370px 65px;
  }
}

.photos-header__title {
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 19px;
  }
}

.photos-header__intro {
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }
}
