.photo {
  width: 100%;
  padding: 24px 20px 25px;
  min-height: 424px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $hover-grey;
  border-bottom: 1px solid $hover-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    min-height: 347px;
    border: none;
    background-color: $light-grey;
  }

  @media (min-width: $desktop-width) {
    min-height: 267px;
    max-height: 267px;
    position: relative;
  }

  &:nth-child(3) {
    @media (min-width: $tablet-width) {
      background-color: $special-grey;
    }
  }

  &--xl {
    @media (min-width: $tablet-width) {
      grid-column: 2 span;
    }

    @media (min-width: $desktop-width) {
      max-height: 400px;
      grid-column: 3 span;
    }
  }

  .photo__link {
    @include link-reset;
    position: relative;
  }

  .photo__image {
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: cover;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      max-height: 267px;
    }

    &--xl {
      @media (min-width: $tablet-width) {
        max-height: 400px;
      }
    }
  }
}

.photo:hover .photo__image {
  opacity: 0.8;
}

.photo:active .photo__image {
  opacity: 0.6;
}
