.photo {
  width: 100%;
  padding: 18px;
  min-height: 424px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $hover-grey;
  border-bottom: 1px solid $hover-grey;
  box-sizing: border-box;
}
