.photos__list {
  @include list-reset;
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    padding: 60px;
    grid-template-columns: 1fr 1fr;
  }
}
