.presentation {
  @include display-flex(center, center, center, column);
  padding: 0 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.presentation__wrapper {
  @include display-flex(center, center, center, column);
  padding: 17px 0 28px;
  min-height: calc(171px - 17px - 28px);
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-bottom: 52px;
    max-width: 445px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.presentation__title {
  margin: 0;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 2px;
    margin-bottom: 32px;
  }
}

.presentation__text {
  margin: 0;
  margin-bottom: 10px;
}

.presentation__video-wrapper {
  @include display-flex(center, center, center, column);
  width: 100%;
  height: 100%;
  min-height: 177px;
  max-height: 500px;

  @media (min-width: $tablet-width) {
    max-width: 648px;
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
  }
}

.presentation__link {
  @include link-reset();
  display: block;
  position: relative;
  line-height: 0;
}

.presentation__video {
  @include animation(opacity);
  width: 100%;
  height: 100%;

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $black;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    object-fit: cover;
  }
}

.presentation__play-btn {
  @include animation(background-color);
  @include absolute-element(48px, 54px);
  top: 50%;
  margin-top: -27px;
  left: 50%;
  margin-left: -24px;
  mask: url("../../../img/icons/sprite.svg#play-btn");
  background-color: $transparent-white;
}

.presentation__link:hover > .presentation__play-btn {
  background-color: $grey-blue;
}

.presentation__link:active > .presentation__play-btn {
  background-color: $clicked-grey-blue;
}

.presentation__link:hover .presentation__video {
  opacity: 0.8;
}

.presentation__link:active .presentation__video {
  opacity: 0.6;
}
