@font-face {
  font-family: "PT Sans Bold";
  font-weight: bold;
  font-style: normal;
  src: url("../../fonts/ptsansbold.woff2"), url("../../fonts/ptsansbold.woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/ptsans.woff2"), url("../../fonts/ptsans.woff");
}
