html {
  background-color: #f2f2f2;
}

.page-body {
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}


.mobile-transfer {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.tablet-transfer {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.desktop-transfer {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
