@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 0;
}

@mixin link-reset {
  color: $black;
  text-decoration: none;
}

@mixin display-flex($align, $justify, $text, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  text-align: $text;
  flex-direction: $direction;
}

@mixin display-grid($columns) {
  display: grid;
  grid-template-columns: $columns;
}

@mixin absolute-element($width, $height) {
  content: "";
  padding: 0;
  margin: 0;
  width: $width;
  height: $height;
  position: absolute;
}

@mixin animation($prop) {
  transition: $prop 500ms ease-in-out;
}
