@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  text-decoration: none;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin display-flex($align, $justify, $text, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  text-align: $text;
  flex-direction: $direction;
}

@mixin display-grid($columns) {
  display: grid;
  grid-template-columns: $columns;
}
