// color-variables
$grey-blue: #81b3d2;
$light-grey: #f2f2f2;
$grey: #eeeeee;
$special-grey: #eaeaea;
$darker-grey: #e6e6e6;
$white: #ffffff;
$black: #000000;
$transparent-black: rgba(0, 0, 0, 0.3);
$transparent-white: rgba(255, 255, 255, 0.7);
$active-nav: #766357;
$hover-grey-blue: #669ec0;
$clicked-grey-blue: #5496bd;
$hover-grey: #e5e5e5;
$clicked-grey: #d5d5d5;
$hover-white: rgba(255, 255, 255, 0.6);
$clicked-white: rgba(255, 255, 255, 0.3);
$menu-border-grey: #678fa8;
$border-grey: #d6d6d6;

// viewport variables
$tablet-width: 768px;
$desktop-width: 1280px;
