.form {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 50px 60px 64px;
    column-gap: 55px;
    row-gap: 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 66px;
    column-gap: 100px;
    row-gap: 35px;
  }
}

.form__section {
  width: 100%;
  height: 100%;
  padding: 24px 20px 23px;
  border: none;
  border-top: 1px solid $hover-grey;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-top: none;
    position: relative;

    &:first-child {
      &::after {
        @include absolute-element(1px, 100%);
        background-color: $hover-grey;
        top: 0;
        right: calc(55px / -2);
      }
    }

    &:not(:first-child, :nth-child(2)) > .form__title {
      padding: 0 123px;
    }

    &:not(:first-child, :nth-child(2)) > .form__title::before {
      @include absolute-element(123px, 1px);
      background-color: $hover-grey;
      top: 50%;
      left: 0;
    }

    &:not(:first-child, :nth-child(2)) > .form__title::after {
      @include absolute-element(123px, 1px);
      background-color: $hover-grey;
      top: 50%;
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &:first-child {
      &::after {
        right: calc(100px / -2);
      }
    }

    &:not(:first-child, :nth-child(2)) > .form__title {
      padding: 0 280px;
    }

    &:not(:first-child, :nth-child(2)) > .form__title::before,
    &:not(:first-child, :nth-child(2)) > .form__title::after {
      width: 280px;
    }
  }

  &--contacts {
    padding: 24px 20px 18px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &--checkbox,
  &--radio,
  &--textarea {
    @media (min-width: $tablet-width) {
      grid-column: 2 span;
      border: none;
    }
  }

  &--textarea {
    width: 100%;
  }

  &--radio,
  &--checkbox {
    padding-bottom: 15px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 26px;
    }
  }

  &--radio .form__title {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-top: 12px;
      margin-bottom: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 18px;
      margin-bottom: 38px;
    }
  }

  &--checkbox .form__title {
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      margin-top: 4px;
      margin-bottom: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 52px;
    }
  }

  &--textarea .form__title {
    @media (min-width: $tablet-width) {
      margin-top: 0;
    }

    @media (min-width: $desktop-width) {
      margin-top: 18px;
      margin-bottom: 28px;
    }
  }
}

.form__title {
  width: 100%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 28px;
    margin-top: 8px;
    position: relative;
    box-sizing: border-box;
  }
}

.form__radio-wrapper,
.form__checkbox-wrapper {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }
}

.form__radio-wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 36px;
    padding-right: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 26px;
    padding-right: 17px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0;
  }
}

.form__checkbox-wrapper {
  @media (min-width: $desktop-width) {
    padding: 0 44px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 30px;
  }
}

.form__label {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &--radio {
    &:nth-child(2) {
      @media (min-width: $tablet-width) {
        text-align: left;
      }

      @media (min-width: $desktop-width) {
        text-align: center;
      }
    }

    @media (min-width: $tablet-width) {
      margin: 0;
      flex-direction: row;
      flex: 1;
      display: block;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      min-width: calc(280px - 46px);
      text-align: center;
    }
  }

  &--checkbox {
    &:first-child,
    &:nth-child(3n) {
      @media (min-width: $tablet-width) {
        padding-left: 84px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 0;
      }
    }

    &:nth-child(2n) {
      @media (min-width: $tablet-width) {
        padding-left: 12px;
      }

      @media (min-width: $desktop-width) {
        padding-left: 0;
      }
    }

    @media (min-width: $tablet-width) {
      margin-left: 90px;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      margin-bottom: 12px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 18px;
    }
  }
}

.form__wrapper {
  margin-bottom: 20px;
  width: 100%;
  grid-column: 2 span;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 96px;
  }
}

.form__notice {
  margin-top: 3px;
  margin-right: 20px;
  display: block;
  color: $notice-grey;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
  }
}

.form__button {
  margin: 18px auto 0;
  padding: 0;
  width: 100%;
  max-width: 280px;
  font-size: 21px;

  @media (min-width: $tablet-width) {
    margin: 0;
    max-width: 324px;
  }

  @media (min-width: $desktop-width) {
    max-width: 384px;
  }
}
