.input {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  background-color: $light-grey;

  &::placeholder {
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
}
