.label {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  font-weight: normal;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &--checkbox,
  &--radio {
    margin: 0;
    padding: 18px 0;
    margin-left: 46px;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-transform: none;
  }
}

.label__input {
  flex-grow: 1;

  &--radio {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &--checkbox {
    flex: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}

.label__radio {
  @include absolute-element(46px, 46px);
  @include animation(background-color);
  top: 50%;
  margin-left: -46px;
  margin-top: -23px;
  background-color: $light-grey;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $hover-grey;
  }

  &:active {
    background-color: $clicked-grey;
  }
}

.label__input:checked + .label__radio::after {
  @include absolute-element(16px, 16px);
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
  mask: url("../../../img/icons/sprite.svg#checked-radio") center center no-repeat;
  background-color: #333333;
}

.label__checkbox {
  @include absolute-element(46px, 46px);
  @include animation(background-color);
  margin-left: -46px;
  top: 50%;
  margin-top: -23px;
  border-radius: 4px;
  background-color: $light-grey;
}

.label__input:checked + .label__checkbox::after {
  @include absolute-element(22px, 16px);
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -11px;
  mask: url("../../../img/icons/sprite.svg#checkbox-checked");
  background-color: #333333;
}

.label:hover > .label__radio,
.label:hover > .label__checkbox,
.label__input:focus + .label__radio,
.label__input:focus + .label__checkbox {
  background-color: $hover-grey;
}

.label:active > .label__radio,
.label:active > .label__checkbox {
  background-color: $clicked-grey;
}

.label:active > .label__input:checked + .label__radio::after,
.label:active > .label__input:checked + .label__checkbox::after {
  background-color: $clicked-checked-grey;
}

.label__text {
  margin-left: 16px;
}

.label__icon {
  width: 58px;
  height: 58px;
  background-color: $darker-grey;
  position: absolute;
  top: 21px;
  right: 0;
}

.label__textarea {
  padding: 16px;
  width: 100%;
  max-height: 150px;

  @media (min-width: $tablet-width) {
    max-height: 160px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 768px;
  }
}
