.modal {
  display: none;

  &--active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
  }
}

.modal__overlay {
  background-color: $transparent-black;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.modal__wrapper {
  @include display-flex(center, center, center, column);
  width: 100%;
  min-height: 280px;
  max-height: 347px;
  max-width: 400px;
  background-color: $white;
  position: absolute;
  margin-top: calc(100% / -2);
  margin-left: calc(100% / -2);
  top: 50%;
  left: 50%;

  &--success {
    max-width: 640px;
    min-height: 323px;
  }
}

.modal__description {
  max-width: 444px;
}

.modal__button-wrapper {
  @include display-flex(center, center, center, column);
  width: 100%;
  height: 98px;
  background-color: $light-grey;
}

.modal__button {
  &--success {
    @media (min-width: $tablet-width) {
      width: 458px;
    }
  }
}
