.nav-item {
  width: 100%;
  height: 56px;
  background-color: $grey-blue;
  border-bottom: 1px solid $menu-border-grey;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $hover-grey-blue;
  }

  &:active {
    background-color: $clicked-grey-blue;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    max-width: 153px;
    color: $black;
    background-color: $white;
    border-bottom: none;

    &:hover,
    &:active {
      background-color: $white;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 240px;
  }

  &:nth-child(4n-1) {
    margin-left: 0;

    @media (min-width: $tablet-width) {
      margin-left: calc(153px / 2);
    }

    @media (min-width: $desktop-width) {
      margin-left: calc(240px / 2);
    }
  }

  &:nth-child(2n),
  &:nth-child(6n) {
    margin-right: 0;

    @media (min-width: $tablet-width) {
      margin-right: calc(153px / 2);
    }

    @media (min-width: $desktop-width) {
      margin-right: calc(240px / 2);
    }
  }

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:last-child::after {
    content: "";
    width: 100%;
    height: 100%;
    border-bottom: none;
    background: linear-gradient(transparent 47px, $grey-blue, $transparent-menu-black);
    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &:last-child:hover::after {
    background: linear-gradient(transparent 47px, $hover-grey-blue, $transparent-menu-black);
  }

  &:last-child:active::after {
    background: linear-gradient(transparent 47px, $clicked-grey-blue, $transparent-menu-black);
  }
}

.nav-item__link {
  @include link-reset;
  @include animation(color);
  @include display-flex(center, center, center, column);
  margin-top: 3px;
  height: 100%;
  width: 100%;
  font-family: "PT Sans Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    color: $black;
    margin-top: 0;
    font-size: 14px;
    line-height: 21px;
  }
}

.nav-item--active > .nav-item__link {
  @media (min-width: $tablet-width) {
    color: $active-nav;
  }
}

.nav-item:hover > .nav-item__link {
  color: $grey-blue;
}

.nav-item:active > .nav-item__link {
  color: $clicked-white;

  @media (min-width: $tablet-width) {
    color: $transparent-menu-black;
  }
}
