.nav {
  width: 320px;
  height: 56px;
  position: relative;
}

.nav__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background: url("../../../img/icons/icon-cross.svg") center center no-repeat;
  fill: $white;
}

.nav__list {
  @include list-reset;
  width: 100%;
  height: 56px;
  display: grid;
  grid-template-columns: 1fr;
  top: 0;
  left: 0;
}

