.nav {
  width: 100%;
  position: relative;
}

.nav__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 55px;
  width: 55px;
  background: url("../../../img/icons/icon-cross.svg") center center no-repeat;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav__list {
  @include list-reset;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(5, 1fr);
  }
}
