.footer-developer {
  @include display-flex(center, center, center, row);
}

.footer-developer__link {
  @include link-reset;
  @include display-flex(center, center, center, row);

  flex-direction: row;
  color: $black;
}

.footer-developer__text {
  margin-right: 6px;
}

.footer-developer__logo {
  margin: 0;
  margin-left: 6px;
  padding: 0;
  width: 28px;
  height: 35px;
}
