.footer-developer {
  @include display-flex(center, center, center, row);
  cursor: pointer;
}

.footer-developer__link {
  @include link-reset;
  @include display-flex(center, center, center, row);
  @include animation(color);
  color: $black;
}

.footer-developer__text {
  margin-right: 6px;
}

.footer-developer__logo {
  @include animation(background-color);
  margin: 0;
  margin-left: 6px;
  padding: 0;
  width: 27px;
  height: 35px;
  mask: url("../../../img/icons/sprite.svg#htmlacademy");
  background-color: $black;
}

.footer-developer:hover > .footer-developer__link {
  color: $grey-blue;
}

.footer-developer:hover .footer-developer__logo {
  background-color: $grey-blue;
}

.footer-developer:active > .footer-developer__link {
  color: $clicked-developer-footer;
}

.footer-developer:active .footer-developer__logo {
  background-color: $clicked-developer-footer;
}

.footer-developer__link:focus {
  color: $grey-blue;
}

.footer-developer__link:focus .footer-developer__logo {
  background-color: $grey-blue;
}
