.footer-item__list {
  @include list-reset;
  @include display-flex(center, center, center, row);

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-item__social {
  display: flex;
  margin: 0 3px;
  line-height: 0;
}

.footer-item__hashtag {
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 21px;
  line-height: 26px;
}
